<!DOCTYPE html>
<html>
<head>
  <title>UserPlane</title>
  <%= stylesheet_link_tag    "user_plane/application", media: "all" %>
  <%= javascript_include_tag "user_plane/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
